<!DOCTYPE html>

<link rel="stylesheet" href= {{site.stylesheet.footer.path}}>

<div class="spacer"></div>
<footer>
  <p class = "footer-text">
    &copy; 2024 {{site.title}}. All rights reserved.
  </p>
</footer>
