<!DOCTYPE html>

<link rel="stylesheet" href= {{site.stylesheet.header.path}}>

<header class="site-header">
    <nav class = "main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pages/search">Search</a></li>
            <li><a href="/pages/about">About</a></li>
        </ul>
    </nav>
</header>
