<!DOCTYPE html>
<!-- objectives.njk -->

<link rel="stylesheet" href={{site.stylesheet.allObjectives.path}}>

<div class="objective-container">
  {% for item in objectives.objectives %}
  <a class="objective-card" href="objectives/{{ item.title | slugify }}/">
    <h2 class="objective-title">{{ item.title }}</h2>
    <p class="objective-description">{{ item.description }}</p>
  </a>
  {% endfor %}
</div>
