<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href= {{site.stylesheet.base.path}}>
  </head>
  <body>


    {% include "../components/header.njk" %}
    <div class="spacer"></div>
    <h1 class="Heading">{{title}}</h1>
    <div class="spacer"></div>

    {{ content | safe }}

    {% include "../components/footer.njk" %}


  </body>
</html>
