---
layout: layouts/base.njk
title: About
---
<link rel="stylesheet" href= {{site.stylesheet.about.path}}>
<div class="desc">
<p="desc-txt">{{site.description}} </p>
<div>
<div class="spacer"></div>
<a href="https://github.com/RhydianDowning/ObjectivesApp">Source code</a>

