---
permalink: /
title: HomePage
---
    <div>
      <section>
      <h1>Section1</h1>
      <p>----------------------------------<p>
      </section>

      <section>
      <h1>Section2</h1>
    {% include "../_includes/components/searchBar.njk" %}
      <p>----------------------------------<p>
      </section>

      <section>
      <h1>Section3</h1>
      <p>----------------------------------<p>
      </section>
    </div>
